body {
    background-image: linear-gradient(
    rgb(42, 123, 155),
    rgb(87, 199, 133, 1)
    );
    height:100%;
    color: white;
    font-family: sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: inherit;
    border: none;
    color: inherit;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#title{
    margin-right: 12cm;
}

.button-header {
    font-size: 1em;
    margin-right: 2em;
}

#login {
    border: 2px solid rgb(87, 189, 100); /* Shorthand: width, style, color */
    border-radius: 3em;   /* Adds rounded corners */
    padding: 15px 25px;   /* Adds space between text and border */
    background-color: rgb(87, 189, 100); 
}

#hero {
    display: flex;
    flex-direction: row;
    margin-top: 5em;
}

#hero-content {
    max-width: 20em;
    font-size: 2em;
    margin: 2em 8em 0px 2em;
}

#hero-image {
    max-width: 30%;
    height: auto; 
}

#hero-top{
    font-size: 25px;
    font-weight: bold;
}

#hero-title{
    font-size: 1.5em;
    font-weight: bolder;
}

#hero-bottom {
    font-size: 20px;
}

.hero-button {
    font-size: 20px;
    border: 2px solid white; /* Shorthand: width, style, color */
    border-radius: 3em;   /* Adds rounded corners */
    padding: 15px 25px;   /* Adds space between text and border */

    transition: transform 0.2s ease;
}

.hero-button:hover {
    border: 2px solid rgb(87, 189, 100); 
    background-color: rgb(87, 189, 100);
}

#catalog {
    background-color: white;
    color: black;
}