body {
    background-image: linear-gradient(
    rgb(42, 123, 155),
    rgb(87, 199, 133, 1)
    );
    height:100%;
    color: white;
    font-family: sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: inherit;
    border: none;
    color: inherit;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#title{
    margin-right: 12cm;
}

.button-header {
    font-size: 1em;
    margin-right: 2em;
}

#login {
    border: 2px solid rgb(87, 189, 100); /* Shorthand: width, style, color */
    border-radius: 3em;   /* Adds rounded corners */
    padding: 15px 25px;   /* Adds space between text and border */
    background-color: rgb(87, 189, 100); 
}

#hero {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    margin-bottom: 5em;
}

#hero-content {
    max-width: 20em;
    font-size: 2em;
    margin: 2em 8em 0px 2em;
}

#hero-image {
    max-width: 30%;
    height: auto; 
    padding-right: 2em;
}

#hero-top{
    font-size: 25px;
    font-weight: bold;
}

#hero-title{
    font-size: 1.5em;
    font-weight: bolder;
}

#hero-bottom {
    font-size: 20px;
}

.hero-button {
    font-size: 20px;
    border: 2px solid white; 
    border-radius: 3em;  
    padding: 15px 25px;   
    transition: transform 0.2s ease;
}

.hero-button:hover {
    border: 2px solid rgb(87, 189, 100); 
    background-color: rgb(87, 189, 100);
}

#catalog {
    background-color: white;
    color: black;
    width: 100vw;
    max-width: 100%;
}

#catalog-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-title {
    font-size: 2em;
    padding-right:15em;
    padding-left: 2em;
}

.button-nav {
    font-size: 18px;
    padding: 10px;
}

#catalog-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 40px 60px;
}

#catalog-products article {
  background: #f5f5f5;
  padding: 30px;
  text-align: center;
  border-radius: 8px;
  transition: 0.3s ease;
}

#catalog-products article:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

#catalog-products img {
  width: 100%;
  max-height: 220px;
  object-fit: contain;
  margin-bottom: 20px;
}

#catalog-products article h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

#catalog-products article p {
  font-size: 14px;
  color: #667;
  margin-bottom: 20px;
}


.old-price {
  text-decoration: line-through;
  color: #999;
}
